{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Discuss Here</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
    <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">hehe</div>
        <div class="card-body text-primary">
          <img src={% static 'images/country.jpg' %} style="width: 300px; height:200px">
          <p class="card-text">Is this the author herself?</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-text">No I think it is just a picture downloaded from the internet</p>
          <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
          <p class="card-text">No this is just a picture</p>
          <p class="card-text"><small class="text-muted">Last updated 1 min ago</small></p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">my img</div>
        <div class="card-body text-primary">
          <img src={% static 'images/answer-writing.png' %} style="width: 300px; height:200px">
          <p class="card-text">Wow! the author is so neat and clean.</p>
          <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
          <p class="card-text">Even I want to customise my study table like that!</p>
          <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">geat</div>
        <div class="card-body text-primary">
          <img src={% static 'images/asking-question.jpg' %} style="width: 300px; height:200px">
          <p class="card-text">What is the user trying to do?</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-text">Maybe he is just creating a user friendly environment</p>
          <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">icecream</div>
        <div class="card-body text-primary">
          <img src={% static 'images/choco.jpg' %} style="width: 300px; height:200px">
          <p class="card-text">No this is hot chocolate</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-text">Nope</p>
          <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
        <div class="card-header">food</div>
        <div class="card-body text-primary">
          <img src={% static 'images/ind.jpg' %} style="width: 300px; height:200px">
          <p class="card-text">What makes you think so? Lol</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-text">Nope</p>
          <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
        </div>
      </div>




     
</body>
</html>
        

      