{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Digital Electronics</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
    <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
     <div class="card-header">Combinational logic circuit</div>
       <div class="card-body text-primary">
        <img src={% static 'images/digi.jpg' %} style="width: 300px; height:200px">
         <h5 class="card-title"></h5>
          <p class="card-text">Combinational digital logic circuits are basically made up of digital logic gates like AND gate, OR gate, NOT gate and universal gates (NAND gate and NOR gate).
          Encoders and Decoders are examples of combinational circuit. A decoder converts the binary coded data at its present input into a number of different output lines. Other examples of combinational switching circuits are half adder and full adder, encoder, decoder, multiplexer, de-multiplexer, code converter etc.
          Combinational circuits are used in microprocessor and microcontroller for designing the hardware and software components of a computer.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Sequential digital logic circuits</div>
        <div class="card-body text-primary">
         <img src={% static 'images/seq.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A Sequential digital logic circuit is different from combinational logic circuits. In sequential circuit the output of the logic device is not only dependent on the present inputs to the device, but also on past inputs. Examples of sequential logic circuits are counters, flip flops, constructed using digital logic gates and memory.
            There are two inputs which are operated by combinational logic circuits in order to produce various outputs.
            The output from the memory devices are fed to the combinational logic circuit. The internal inputs and outputs form part of the secondary devices.
            Secondary inputs devices are state variables produced by the storage elements, where as secondary outputs devices are excitations for the storage elements.
            Types of sequential logic circuits Sequential digital circuits are classified into three major parts as Event driven, Clock drive and Pulse driven.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text"></p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text"></p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text"></p>
        </div>
      </div>
      
</body>
</html>