{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Nanoelectronics</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
     <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">Nanoelectronics encompasses nanoscale circuits and devices including (but not limited to) ultra-scaled FETs, spin devices, superlattice arrays, quantum coherent devices, molecular electronic devices, and carbon nanotubes.

                Over the past four decades, electronic components have grown more powerful as the transistor, has shrunk in dimensions by several factors. However, the laws of quantum mechanics, and the limitations of materials and fabrication techniques are making it very difficult for further reduction in the minimum size of today's semiconductor transistors. Researchers have projected that as the overall size of the bulk-effect, semiconductor transistor is aggressively miniaturized to approximately 0.1 micron (i.e., 100 nanometers) and beyond the devices may no longer function as well.

                Thus, in order to continue the miniaturization of integrated circuits well into the next century, it is likely that present day, micron-scale microelectronic device designs will be replaced with new designs for devices that take advantage of the quantum mechanical effects that dominate on the much smaller, nanometer scale. (Note that 1 nanometer, abbreviated nm, is one billionth of a meter or 10 atomic diameters.)

                The nanoelectronic devices are subdivides into two broad areas, as follows:

                i. Solid-state quantum-effect nanoelectronic devices

                ii. Molecular electronic devices</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text"></p> 
        </div>
      </div>
</body>
</html>