{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Optoelectronics</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
     <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Photodiode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/pho.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A photo diode is a semiconductor light sensor that generates a voltage or current when light falls on the junction. It consists of an active P-N junction, which is operated in reverse bias. When a photon with plenty of energy strikes the semiconductor, an electron or hole pair is created. The electrons diffuse to the junction to form an electric field.
           This electric field across the depletion zone is equal to a negative voltage across the unbiased diode. This method is also known as the inner photoelectric effect. This device can be used in three modes: photovoltaic as a solar cell, forward biased as an LED and reverse biased as a photo detector. Photodiodes are used in many types of circuits and different applications such as cameras, medical instruments, safety equipments, industries, communication devices and industrial equipments.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Solar Cells</div>
        <div class="card-body text-primary">
         <img src={% static 'images/sol.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A solar cell or photo-voltaic cell is an electronic device that directly converts sun’s energy into electricity. When sunlight falls on a solar cell, it produces both a current and a voltage to produce electric power. Sunlight, which is composed of photons, radiates from the sun. When photons hit the silicon atoms of the solar cell, they transfer their energy to lose electrons; and then, these high-energy electron flow to an external circuit.
           The solar cell is composed of two layers which are struck together. The first layer is loaded with electrons, so these electrons are ready to jump from the first layer to the second layer. The second layer has some electrons taken away, and therefore, it is ready to take more electrons. The advantages of solar cells are that, there is no fuel supply and cost problem. These are very dependable and require little maintenance.
           The solar cells are applicable in rural electrification, telecommunication systems, ocean navigation aids, electric power generation system in space and remote monitoring and control systems.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Light Emitting Diodes</div>
        <div class="card-body text-primary">
         <img src={% static 'images/diode.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">Light-emitting diode is a P-N semiconductor diode in which the recombination of electrons and holes yields a photon. When the diode is electrically biased in the forward direction, it emits incoherent narrow spectrum light. When a voltage is applied to the leads of the LED, the electrons recombine with the holes within the device and release energy in the form of photons. This effect is called as electroluminescence. It is the conversion of electrical energy into light. The color of the light is decided by the energy band gap of the material.
           The usage of LED is advantageous as it consumes less power and produces less heat. LEDs last longer than incandescent lamps. LEDs could become the next generation of lighting and used anywhere like in indication lights, computer components, medical devices, watches, instrument panels, switches, fiber-optic communication, consumer electronics, household appliances, etc.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Optical Fiber</div>
        <div class="card-body text-primary">
         <img src={% static 'images/opti.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">An optical fiber or optic fibre is a plastic and transparent fiber made of plastic or glass. It is somewhat thicker than a human hair. It can function as a light pipe or waveguide to transmit light between the two ends of the fiber. Optical fibers usually include three concentric layers: a core, a cladding and a jacket. The core, a light transmitting region of the fiber, is the central section of the fiber, which is made of silica. Cladding, the protective layer around the core, is made of silica.This creates an optical waveguide that limits the light in the core by total reflection at the interface of the core-cladding. Jacket, the non-optical layer around the cladding, typically consists of one or more layers of a polymer that protect the silica from the physical or environmental damage.
           These cables are used in telecommunications, sensors, fiber lasers, bio-medicals and in many other industries. The advantages of using optical-fiber cable include their higher bandwidth, less signal degradation, weightlessness and thinness than a copper wire, cost-effectiveness, flexibility, and hence they are used in medical and mechanical imaging systems.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Laser Diodes</div>
        <div class="card-body text-primary">
         <img src={% static 'images/laser.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">Laser (light amplification by stimulated emission of radiation) is a source of highly monochromatic, coherent and directional light. It operates under stimulated emission condition. The function of a laser diode is to convert electrical energy into light energy like infrared diodes or LEDs. The beam of a typical laser has 4×0.6mm extending at a distance of 15 meters. The most common lasers used are injection lasers or semiconductor lasers. The semiconductor laser changes from other lasers like solid, liquid and gas lasers
            When a voltage is applied across the P-N junction, the population inversion of the electrons is produced, and then the laser beam is available from the semiconductor region. The ends of the P-N junction of the laser diode have polished surface, and hence, the emitted photons reflect back to create more electron pairs. Thus, the photons generated will be in phase with the previous photons.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text"></p> 
        </div>
      </div>
</body>
</html>
