{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <title>Semiconductor Devices</title>
                <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
     <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Schottky Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/sch.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">Schottky barrier diode or hot-carrier diode, is a semiconductor diode formed by the junction of a semiconductor with a metal. It has a low forward voltage drop and a very fast switching action. The cat's-whisker detectors used in the early days of wireless and metal rectifiers used in early power applications can be considered primitive Schottky diodes.
            When sufficient forward voltage is applied, a current flows in the forward direction. A silicon p–n diode has a typical forward voltage of 600–700 mV, while the Schottky's forward voltage is 150–450 mV. This lower forward voltage requirement allows higher switching speeds and better system efficiency.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Light Emitting Diode (LED)</div>
        <div class="card-body text-primary">
         <img src={% static 'images/led.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A light-emitting diode (LED) is a semiconductor light source that emits light when current flows through it. Electrons in the semiconductor recombine with electron holes, releasing energy in the form of photons. The color of the light (corresponding to the energy of the photons) is determined by the energy required for electrons to cross the band gap of the semiconductor. White light is obtained by using multiple semiconductors or a layer of light-emitting phosphor on the semiconductor device.
            Appearing as practical electronic components in 1962, the earliest LEDs emitted low-intensity infrared (IR) light. Infrared LEDs are used in remote-control circuits, such as those used with a wide variety of consumer electronics. The first visible-light LEDs were of low intensity and limited to red. Modern LEDs are available in visible, ultraviolet (UV), and infrared wavelengths, with high, low, or intermediate light output.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Zener Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/ze.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A Zener diode is a special type of diode designed to reliably allow current to flow "backwards" when a certain set reverse voltage, known as the Zener voltage, is reached.
            Zener diodes are manufactured with a great variety of Zener voltages and some are even variable. Some Zener diodes have a sharp, highly doped p–n junction with a low Zener voltage, in which case the reverse conduction occurs due to electron quantum tunnelling in the short space between p and n regions − this is known as the Zener effect, after Clarence Zener. Diodes with a higher Zener voltage have a more gradual junction and their mode of operation also involves avalanche breakdown. Both breakdown types are present in Zener diodes with the Zener effect predominating at lower voltages and avalanche breakdown at higher voltages.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Photo Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/pho.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A photodiode is a semiconductor p-n junction device that converts light into an electrical current.[1] The current is generated when photons are absorbed in the photodiode. Photodiodes may contain optical filters, built-in lenses, and may have large or small surface areas. Photodiodes usually have a slower response time as their surface area increases. The common, traditional solar cell used to generate electric solar power is a large area photodiode.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">PIN Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/pin.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A PIN diode is a diode with a wide, undoped intrinsic semiconductor region between a p-type semiconductor and an n-type semiconductor region. The p-type and n-type regions are typically heavily doped because they are used for ohmic contacts.
            The wide intrinsic region is in contrast to an ordinary p–n diode. The wide intrinsic region makes the PIN diode an inferior rectifier (one typical function of a diode), but it makes it suitable for attenuators, fast switches, photodetectors, and high-voltage power electronics applications.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Laser Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/las.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A laser diode, (LD), injection laser diode (ILD), or diode laser is a semiconductor device similar to a light-emitting diode in which a diode pumped directly with electrical current can create lasing conditions at the diode's junction. Laser diodes can directly convert electrical energy into light. Driven by voltage, the doped p-n-transition allows for recombination of an electron with a hole. Due to the drop of the electron from a higher energy level to a lower one, radiation, in the form of an emitted photon is generated. This is spontaneous emission. Stimulated emission can be produced when the process is continued and further generate light with the same phase, coherence and wavelength.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Tunnel Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/tun.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">Tunnel diodes have a heavily doped positive-to-negative (P-N) junction that is about 10 nm (100 Å) wide. The heavy doping results in a broken band gap, where conduction band electron states on the N-side are more or less aligned with valence band hole states on the P-side. They are usually made from germanium, but can also be made from gallium arsenide and silicon materials.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Gunn Diode</div>
        <div class="card-body text-primary">
         <img src={% static 'images/gunn.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A Gunn diode, also known as a transferred electron device (TED), is a form of diode, a two-terminal semiconductor electronic component, with negative resistance, used in high-frequency electronics. It is based on the "Gunn effect" discovered in 1962 by physicist J. B. Gunn. Its largest use is in electronic oscillators to generate microwaves, in applications such as radar speed guns, microwave relay data link transmitters, and automatic door openers.
            Its internal construction is unlike other diodes in that it consists only of N-doped semiconductor material, whereas most diodes consist of both P and N-doped regions. It therefore conducts in both direction and cannot rectify alternating current like other diodes, which is why some sources do not use the term diode but prefer TED.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Bipolar Transistor</div>
        <div class="card-body text-primary">
         <img src={% static 'images/bipo.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A bipolar junction transistor (BJT) is a type of transistor that uses both electrons and electron holes as charge carriers. In contrast, a unipolar transistor, such as a field-effect transistor, uses only one kind of charge carrier. A bipolar transistor allows a small current injected at one of its terminals to control a much larger current flowing between two other terminals, making the device capable of amplification or switching.
            BJTs use two junctions between two semiconductor types, n-type and p-type, which are regions in a single crystal of material. The junctions can be made in several different ways, such as changing the doping of the semiconductor material as it is grown, by depositing metal pellets to form alloy junctions, or by such methods as diffusion of n-type and p-type doping substances into the crystal. The superior predictability and performance of junction transistors soon displaced the original point-contact transistor. Diffused transistors, along with other components, are elements of integrated circuits for analog and digital functions. Hundreds of bipolar junction transistors can be made in one circuit at very low cost.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Field Effect Transistor</div>
        <div class="card-body text-primary">
         <img src={% static 'images/fet.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">The field-effect transistor (FET) is a type of transistor that uses an electric field to control the flow of current in a semiconductor. FETs are devices with three terminals: source, gate, and drain. FETs control the flow of current by the application of a voltage to the gate, which in turn alters the conductivity between the drain and source.
            FETs are also known as unipolar transistors since they involve single-carrier-type operation. That is, FETs use either electrons or holes as charge carriers in their operation, but not both. Many different types of field effect transistors exist. Field effect transistors generally display very high input impedance at low frequencies. The most widely used field-effect transistor is the MOSFET </p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Silicon Controlled Rectifier</div>
        <div class="card-body text-primary">
         <img src={% static 'images/si.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A silicon controlled rectifier or semiconductor-controlled rectifier is a four-layer solidstate current-controlling device. The name "silicon controlled rectifier" is General Electric's trade name for a type of thyristor.
            SCRs are mainly used in electronic devices that require control of high voltage and power. This makes them applicable in medium and high AC power operations such as motor control function.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header">Unijunction transistor</div>
        <div class="card-body text-primary">
         <img src={% static 'images/un.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text">A unijunction transistor (UJT) is a three-lead electronic semiconductor device with only one junction that acts exclusively as an electrically controlled switch.
            The UJT is not used as a linear amplifier. It is used in free-running oscillators, synchronized or triggered oscillators, and pulse generation circuits at low to moderate frequencies (hundreds of kilohertz). It is widely used in the triggering circuits for silicon controlled rectifiers. In the 1960s, the low cost per unit, combined with its unique characteristic, warranted its use in a wide variety of applications like oscillators, pulse generators, saw-tooth generators, triggering circuits, phase control, timing circuits, and voltage- or current-regulated supplies. The original unijunction transistor types are now considered obsolete, but a later multi-layer device, the programmable unijunction transistor, is still widely available.</p> 
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 70rem; padding:30px; margin:70px;">
       <div class="card-header"></div>
        <div class="card-body text-primary">
         <img src={% static 'images/.jpg' %} style="width: 300px; height:200px">
          <h5 class="card-title"></h5>
           <p class="card-text"></p> 
        </div>
      </div>
</body>
</html>
